<div class="contact-container">
    <div class="banner">
    </div>
    <div class="contact-items">
        <div class="contact-title">
            <span>CONTACT</span>
            <div class="bar"></div>
        </div>
        <div class="icons">
            <!-- https://www.facebook.com/armand.ntep -->
            <a href="https://www.facebook.com/armand.ntep" class="fa fa-facebook-official"></a>
            <!-- https://www.youtube.com/channel/UCeaRqZEyxwxp9Y64bz2dDHw -->
            <a href="https://www.youtube.com/channel/UCeaRqZEyxwxp9Y64bz2dDHw" class="fa fa-youtube-play"></a>
            <!-- https://www.instagram.com/armandntep/ -->
            <a href="https://www.instagram.com/armandntep/" class="fa fa-instagram"></a>
            <!-- bantuphonic@aol.com -->
            <a href="bantuphonic@aol.com" class="fa fa-envelope-open-o"></a>
        </div>
    </div>
</div>