<div class="contact-container">
    <div class="banner">
    </div>
    <div class="contact-items">
        <div class="contact-title">
            <span>CONTACT</span>
            <div class="bar"></div>
        </div>
        <div class="icons">
            <!-- https://www.facebook.com/armand.ntep -->
            <i class="fa fa-facebook-official"></i>
            <!-- https://www.youtube.com/channel/UCeaRqZEyxwxp9Y64bz2dDHw -->
            <i class="fa fa-youtube-play"></i>
            <!-- https://www.instagram.com/armandntep/ -->
            <i class="fa fa-instagram"></i>
            <!-- bantuphonic@aol.com -->
            <i class="fa fa-envelope-open-o"></i>
        </div>
    </div>
</div>