.slick-slider {
  background: black;
  color: white;

  &__prev-slide {
    float: left;
  }
}

.slick-prev {
  margin: 200px;
  font-size: 100px;
  color: red;
  background: red;
}

.nav-btn {
  height: 100%;
  position: absolute;
  width: 100px;
  cursor: pointer;
  /* top: 100px !important; */
  /* height: 1000px; */
}

.prev-slide.slick-disabled,
.next-slide.slick-disabled {
  pointer-events: none;
  opacity: 0.2;
}

.icon:hover {
  color: rgb(214, 184, 156);
}

.prev-icon {
  z-index: 1;
  position: absolute;
  color: rgb(207, 124, 56);
  text-align: center;
  margin-top: 30vw;
  font-size: 70px;
  margin-left: 2vw;

  @media screen and (max-width: 812px) {
   font-size: 30px; 
  }
}

.next-icon {
   z-index: 1;
   position: absolute;
   color: rgb(207, 124, 56);
   text-align: center;
   margin-top: 30vw;
   font-size: 70px;
    font-size: 70px;
    margin-left: 94vw;
  @media screen and (max-width: 812px) {
    font-size: 30px;
  }
}

.prev-slide:hover {
  background-position: 0px -53px;
}

.next-slide:hover {
  background-position: -24px -53px;
}