<div>
  <i class="fa fa-chevron-left carousel-nav prev" (click)="slickPrev()"></i>
  <i class="fa fa-chevron-right carousel-nav next" (click)="slickNext()"></i>
  <!-- <input type="button" value="prev" class="carousel-nav prev" (click)="slickPrev()" /> -->
  <!-- <input type="button" value="next" class="carousel-nav next" (click)="slickNext()" /> -->
</div>
<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
  (init)="slickInit($event)" (breakpoint)="breakpoint($event)"
  (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
  <div ngxSlickItem *ngFor="let slide of slides" class="slide">
    <img src="{{ slide.img }}" alt="" width="100%">
  </div>
</ngx-slick-carousel>