<div class="carousel-nav">
  <i class="fa fa-chevron-left icon prev-icon" (click)="slickPrev()"></i>
</div>
<div class="carousel-nav">
  <i class="fa fa-chevron-right icon next-icon" (click)="slickNext()"></i>
</div>
<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
  (init)="slickInit($event)" (breakpoint)="breakpoint($event)"
  (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
  <div ngxSlickItem *ngFor="let slide of slides" class="slide">
    <img src="{{ slide.img }}" alt="" width="100%">
  </div>
</ngx-slick-carousel>