.slick-slider {
  width: 100%;
  margin: auto;
  background: #000;
}

.nav-btn {
  height: 100%;
  position: absolute;
  width: 100px;
  cursor: pointer;
  /* top: 100px !important; */
  /* height: 1000px; */
}

.prev-slide.slick-disabled,
.next-slide.slick-disabled {
  pointer-events: none;
  opacity: 0.2;
}

.prev-slide {
  /* background: url('../../../assets/images/leftarrow.png') no-repeat scroll 0 0; */
  /* left: -33px; */
  /* float: left;
  margin-right: 130px;
  height: 1000px; */
  color: red;
  background: white !important;
}

.next-slide {
  /* background: url('../../../assets/images/rightarrow.png') no-repeat scroll -24px 0px;
  right: -33px; */
}

.prev-slide:hover {
  background-position: 0px -53px;
}

.next-slide:hover {
  background-position: -24px -53px;
}