<div class="about-container">
  <p>
    <span class="name">ARMAND NTEP</span> is both a unique vocalist and a prolific, innovative composer. His vocal talent is broad in
    terms of
    octave
    and style from silky baritone croon to pygmy-inspired syncopation to tender tenor ballads. His compositions run
    the
    gamut from salsa Jazz to reggae to traditional "lihongo" from his native Cameroon. 
  </p>
  <!-- <br> -->
  <!-- <p>
    Collaboration with a group of jazz musicians led to a series of acclaimed performances with the Afro Jazz
    Explosion, a
    group that blended straight ahead jazz with African influences for an exciting blend. In 2004, Armand performed
    in
    a
    series of original works titled "Evolution", created by guitarist John Kamman, which blended chamber music and
    jazz.
    Finally, work on his CD led to the formation of The Armand Ntep Band, dedicated to showcasing Armand's own rich
    compositions and vocal versatility.
  </p> -->
  <!-- <br> -->
  <p>
    Performances from Washington, DC, to Baltimore to New York have shown Armand's talent for creating a magical
    experience
    for and with his audiences. 
    <!-- Notable venues include Baltimore's National Jazz Alliance,Duke Ellington Jazz
    Festival/Washington, World Bank/Washington,Tipitina's/New Orleans, the Eubie Blake National Jazz
    Institute/Baltimore,
    Satalla/ NY, CBGB's/NY , Shrine Club/NY,St. Nick's Pub/Harlem, Africare Gala Diner 2006 honoring Former Pres Bill
    Clinton, Africare Gala 2008 honoring Former Pres G.W. Bush, "Madiba" Club/ Brooklyn, U.S. Library of Congress,
    American
    University, Camden Yards/Baltimore, Twins Jazz/Washington, Blues Alley/Washington, and Bohemian
    Caverns/Washington. -->
  </p>