<div class="home-container">
  <div appParallax [parallaxRatio]="0.01" [type]="scroll" class="parallax-image-container">
    <app-carousel></app-carousel>
  </div>
  <div class="home-content">
    <div class="album-container">
      <span class="album-title">BANTUPHONIC</span>
      <img [src]="'assets/images/bantuphonic.jpg'">
      <a class="center-text-link" [href]="'https://www.amazon.com/Bantuphonic-Armand-Ntep/dp/B000CAKY7M'"
        target="_blank">
        <img class="amazon-gif" [src]="'assets/images/buy_amazon.gif'">
      </a>
    </div>
    <div class="track-list">
      <table class="flat-table">
        <tr *ngFor="let track of bantuphonicTrackList">
          <td>
            {{track.num}}
          </td>
          <td>
            {{track.name}}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>