.menu-container {
    background: url('../assets/images/red-pattern.jpg');
    font-family: 'westphalia';
    font-size: 50px;
}

.app-footer {
    background: black;
    color: wheat;
}

.menu-btn {
    /* background: none;
    border: none;
    color: white;
    font: 'westphalia'; */
}
