/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  width: 101%;
}

@font-face {
  font-family: 'westphalia';
  src: url('./assets/fonts/Westfalia-Regular.otf');
}

@font-face {
  font-family: 'frontage-outline';
  src: url('./assets/fonts/Frontage-Outline.otf');
}